nav ul {
  font-size: 1.5em;
  display: flex;
  list-style-type: none;
  margin-block: 0;
  justify-content: flex-end;
}

nav li {
  padding: 5px;
  border-inline: 1px solid black;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav li a:hover {
  color: red;
}

nav li:nth-child(n+2) {
  border-left-width: 0;
}

.body {
  border-block: 1px solid black;
}

.footer {
  font-size: 1.5em;
  text-align: center;
}

.body > div {
  font-size: 2em;
  padding: 10px;
}

.nav-btn {
  cursor: pointer;
}

.nav-btn:hover {
  color: red;
}